[2021-06-29 08:15] chosen44 opened #1 "Размер загружаемого файла"
Юрий, хотели бы уточнить, какой минимальный размер загружаемого файла для отправки лабораторной работы?

[2021-06-29 09:04] YuriSilenok commented on #1
Минимальный размер файла, 0 байт, если таковой вомжно сформировать.

[2021-06-29 10:09] #1 closed

[2021-06-29 12:52] chosen44 opened #2 "[LF] Не отображается ссылка скачать файл на странице проверки работы"
Scenario:
1. Войти как студент/преподаватель
2. Открыть страницу для проверки работы
**Ожидаемый результат:** Отображается ссылка "скачать" для архива с решением студента
**Фактический результат:** Ссылка не отображается
![скрин бага](https://user-images.githubusercontent.com/14871471/123928769-dfeb6580-d996-11eb-89f1-886e9fc119d9.png)

Обходной путь:
1.
2.

[2021-06-30 10:02] YuriSilenok commented on #2
Исправлено в версии v0.4.2.1

[2021-06-30 16:19] YuriSilenok opened #3 "План версии v0.1"
# Подзадачи

- #47
- #48
- #49
- #50
- #51
- #52
- #13
- #17
- #34
- #15
- #16
- #62

---

# Переходы между страницами.
![Страницы-Карта](https://user-images.githubusercontent.com/14871471/124234407-a9d7ee00-db1c-11eb-9a6c-060319e703d7.png)
[Текущая версия
](https://drive.google.com/file/d/1ACG9kTcY8k_KHIysRzqSjRYsUgWgJCeQ/view?usp=sharing)
# Прототип

[Текущая версия](https://www.figma.com/file/j

[2021-06-30 16:25] YuriSilenok opened #4 "Список функций для версии v0.1"
- [ ] Регистрация пользователя
- Функции преподавателя
- - [ ] создавать дисциплину
- - [ ] создавать тему
- - [ ] создавать задание
- - [ ] создавать требования

[2021-06-30 16:25] #4 closed

[2021-06-30 17:01] YuriSilenok commented on #3
@Nastasitze @ValeriSavvva
Посмотрите на этот список, все ли здесь есть то что нужно сделать в первую очередь и нет ли здесь чего-то лишнего

[2021-06-30 19:53] YuriSilenok opened #5 "[US-1] Регистрация пользователя"
Я как студент хочу иметь возможность зарегистрироваться на сайте, что бы хранить информацию о том, какие работы я выполнил.
Я как преподаватель хочу иметь возможность зарегистрироваться на сайте, что бы создавать авторские курсы для студентов.

**Критерии приемки:**
- при регистрации собирается следующая информация:
  - фамилия
  - имя
  - отчество
  - электронный адрес
  - пароль
  - роль ( студе

[2021-06-30 19:54] YuriSilenok commented on #5
@Nastasitze @ValeriSavvva ознакомьтесь с этой юзер стори, есть ли у вас вопросы по ней?

[2021-06-30 20:02] YuriSilenok opened #6 "[US-2] Авторизация пользователя"
Я как пользователь хочу иметь возможность авторизоваться, чтобы хранимые данные в системе не попали в общий доступ

**Критерии приемки:**
- Для авторизации требуется ввести электронный адрес и пароль;

- После **удачной авторизации** автоматически переходит на страницу со списком работ, которые нужно проверить;
- Если указанный **электронный адрес отсутствует в БД**, то после попытки авторизоватьс

[2021-06-30 20:14] YuriSilenok opened #7 "[US-3] Список дисциплин"
Я как преподаватель хочу иметь возможность просматривать список дисциплин, чтобы знать какие дисциплины уже мной созданы, а так же иметь доступ к функциям редактирования и добавления дисциплины

**Критерии приемки:**
- Список дисциплин отображается в виде таблицы с полями:
  - Название дисциплины
- Список дисциплин состоит только из тех дисциплин, которые я сам создал
- Рядом со списком дисциплин

[2021-07-01 12:10] YuriSilenok opened #8 "[US-4] Список тем"
Я как преподаватель хочу иметь возможность просматривать список тем дисциплин, для того чтобы управлять своими курсами.

Критерии приемки:
- Список тем отображается в виде таблицы с полями:
  - Название
- Список тем состоит только из тех тем, которые относятся к выбранной дисциплине
- Рядом со списком тем есть элемент управления, позволяющий открыть страницу по добавлению темы

[2021-07-01 12:11] YuriSilenok opened #9 "[US-5] Список заданий"
Я как преподаватель хочу иметь возможность просматривать список заданий, для того чтобы управлять своими курсами.

Критерии приемки:
- Список заданий отображается в виде таблицы с полями:
  - Название
  - Количество проверок
- Список задач состоит только из тех задач, которые относятся к выбранной теме
- Рядом со списком заданий есть элемент управления, позволяющий открыть страницу по добавлению т

[2021-07-01 12:11] YuriSilenok opened #10 "[US-6] Список требований"
Я как преподаватель хочу иметь возможность просматривать список требований, для того чтобы управлять своими курсами.

Критерии приемки:
- Список требований отображается в виде списка требований
- Список требований состоит только из тех требований, которые относятся у задаче
- Рядом со списком требований есть элемент управления, позволяющий открыть страницу по добавлению требования

[2021-07-01 12:11] YuriSilenok opened #11 "Назначить дисциплину на студента"
# User Story
Я как преподаватель хочу иметь возможность назначить на студента дисциплину, чтобы выдать все задания этой дисциплины

Критерии приемки:
- На странице "Список тем" должен быть выпадающий список(где? относится к чему?), в котором можно выбрать учебную группу
- Список учебных групп должен состоять только из тех групп, в которых есть обучающиеся студенты
- После выбора учебной группы, за

[2021-07-01 12:12] YuriSilenok opened #12 "[US-8] Назначить пользователю роль "студент""
Я как преподаватель хочу иметь возможность добавлять пользователю роль "студента", для того что бы я мог быстрее записать студента на свою дисциплину

Критерии приемки:
- На странице со списком дисциплин отображается поле для ввода email пользователя, выпадающий список с группами и кнопка "Назначить роль Студент"

[2021-07-01 12:12] YuriSilenok opened #13 "Проверка работы студента преподавателем"
# User Sory
Я как преподаватель хочу иметь возможность проверить работу студента после горизонтальной проверки студентами, чтобы не тратить время на указание однообразных ошибок у всех студентов.

Критерии приемки:
- Когда мы уходим на страницу "Проверка работы студента преподавателем ", пункты меню "Мои дисциплины" и "Ожидает проверки" перестают быть выделенными
- Название страницы отсутствует
-

[2021-07-01 12:13] YuriSilenok opened #14 "Просмотр журнала"
# User Story
Я как преподаватель, хочу иметь возможность увидеть журнал группы студентов, чтобы быстро посмотр тех, кто все сдал и не сдал для выставления аттестации, зачета, экзамена

Критерии приемки:
- На странице отображается таблица со всеми студентами в первом столбце, а последующие столбцы являются заданиями. В качестве значения столбца указывается номер задания, а при наведении на номер от

[2021-07-01 12:13] YuriSilenok opened #15 "Просмотр списка заданий"
# User Story
Я как студент, хочу иметь возможность просмотреть список заданий, которые необходимо выполнить, для того чтобы не искать свои задания в каждой дисциплине.

Критерии приемки:
- отображается таблица с заданиями и столбцами: Дисциплина, Тема, Задача, Статус

| Дисциплина | Тема | Задача | Статус |
| -------- | ------ | ------ | ------ |
| ТРПО | Тема №1 | [Задача №5](https://github.com/Y

[2021-07-01 12:13] YuriSilenok opened #16 "Загрузка решения на проверку"
# User Story
Я как студент, хочу иметь возможность загружать решение на проверку, для того чтобы не показывать их лично и проверка происходила быстрее.

Критерии приемки:
- Загрузка работы возможна, если задача находится **_не в состоянии "Зачтено"_**
- Максимальный объем загружаемого файла определяется в задаче
- Загрузка файлов возможна только zip форматов
- На странице отображается история загр

[2021-07-01 12:14] YuriSilenok opened #17 "Проверка работы студента студентом"
# User Story
Я как студент хочу иметь возможность проверить работу студента, чтобы получить баллы по заданию и ее завершению.

Критерии приемки:
- Есть возможность скачать архив с решением
- Есть возможность написать комментарий к каждому требованию
- Есть возможность написать общее замечание
- Есть возможность отправить результаты проверки
---
- Если **_есть замечания_** по работе, то задача долж

[2021-07-01 12:14] YuriSilenok opened #18 "Получение баллов за проверку работы"

[2021-07-01 12:17] chosen44 opened #19 "[CF] Не авторизовывается для входа на сайта."
1) Заходим тина сайт через учетную запись другого студента
2) На главной странице в левом верхнем углу нажимаем на раздел: "Нужно проверить"
3) Нажимаем на ссылку в строке: "Команды"
4) Скачиваем файл с лабораторной работой для проверки
Ожидаемый результат: Студент зашел на сайт
Фактический результат: Не возможности авторизоваться, т.к. при вводе адреса эл. почты и пароля, ничего не происходит.

Д

[2021-07-01 12:24] YuriSilenok commented on #19
нужно дать название этому списку

[2021-07-01 12:25] YuriSilenok commented on #19
вся информация должна быть в задаче, и не должна вести на сторонние ресурсы

[2021-07-01 12:31] YuriSilenok commented on #19
почему казана в заголовке `[CF]`?

[2021-07-01 12:54] YuriSilenok commented on #19
Не правильно развернута тестовое окружение

[2021-07-01 12:54] #19 closed

[2021-07-02 07:08] YuriSilenok commented on #18
задача закрыта, так как описана в #13

[2021-07-02 07:08] #18 closed

[2021-07-02 08:02] YuriSilenok opened #20 "План версии v*.2"
# Подзадачи

№ | Name | US |  FE | BE
 --- |  --- | --- | --- |  ---
14 | | | |
15 | | | |

## Легенда
Name - название функции
US - User Story
BE - BackEnd
FE - FrontEnd

[2021-07-02 09:34] YuriSilenok opened #21 "Общите требования к макету"
Нужно определить общиет требования к макету:
Полный перечень не могу сказать, но возможно:
- отсутпы у элементов
- где какие блоки находлятся

[2021-07-02 09:36] chosen44 commented on #2
Ссылка: "скачать файл" на странице проверки работы в весрии S0V0.1 - отображается.

[2021-07-02 09:42] YuriSilenok opened #22 "Разработать требования к UI"
# Цветовая палитра
![image](https://user-images.githubusercontent.com/83533847/125028085-0fcdf380-e090-11eb-93b9-d71ca81a92ae.png)

- E6F3FE
- DADADA
- DAE6E5
- A3C8F3
- 2C497F
- 3B5165

# Формат таблиц и списков
![image](https://user-images.githubusercontent.com/83533847/126287370-a749db97-6abd-4a50-a393-d07fa24d2899.png)
![image](https://user-images.githubusercontent.com/83533847/126287583-dad9c

[2021-07-02 09:44] YuriSilenok commented on #2
Как вы определили что, то что вы тестировали было этой версии?

[2021-07-02 09:53] #2 closed

[2021-07-02 09:55] YuriSilenok opened #23 "UX для страницы "Авторизация пользователя""
### UX для страницы "Авторизация пользователя".
Подробнее в [Figma](https://www.figma.com/file/jo7JCWO6fNQ85TyZxemGlN/Untitled?node-id=15%3A10).

![2021-07-13 (18)](https://user-images.githubusercontent.com/81413003/125459323-b525cf8c-3dfe-4883-822b-cd06c88ace55.png)

---
# Ссылки
User Story #6

[2021-07-02 10:02] YuriSilenok opened #24 "UX страницы "Регистрация пользователя""
### UX для страницы "Регистрация нового пользователя"
Подробнее в [**Figma**](https://www.figma.com/file/jo7JCWO6fNQ85TyZxemGlN/Untitled?node-id=15%3A10).

![2021-07-13 (19)](https://user-images.githubusercontent.com/81413003/125459488-9447341f-88d7-4f3b-b547-4bd3ad04ef9f.png)

# Ссылки
User Story #5

---
 # Срок
 06.07.2021

[2021-07-02 10:05] YuriSilenok opened #25 "UX для страницы "Нужно проверить""
### UX для страницы Преподавателя:

Подробнее в [**Figma**](https://www.figma.com/file/jo7JCWO6fNQ85TyZxemGlN/Untitled?node-id=15%3A10).

![2021-07-13 (17)](https://user-images.githubusercontent.com/81413003/125456220-37e87757-4513-49de-b4b4-67ad2e3d9595.png)

### UX для страницы Студента:

![2021-07-13 (16)](https://user-images.githubusercontent.com/81413003/125455985-86ee4634-14e8-472f-8bf5-c7ee

[2021-07-02 10:07] YuriSilenok opened #26 "UX для страницы "Проверка работы""
### UX для страницы "Проверка работы"
Подробнее в [**Figma**](https://www.figma.com/file/jo7JCWO6fNQ85TyZxemGlN/Untitled?node-id=15%3A10).

![2021-07-14 (8)](https://user-images.githubusercontent.com/81413003/125636630-57e9072c-2002-4ecb-a52b-cf0bed378a2a.png)

---
# Ссылки
User Story #13

[2021-07-02 10:10] YuriSilenok opened #27 "UX для страницы "Мои задания""
### UX для страницы "Мои задания"

Подробнее в [Figma](https://www.figma.com/file/jo7JCWO6fNQ85TyZxemGlN/Untitled?node-id=15%3A10).

![2021-07-14 (7)](https://user-images.githubusercontent.com/81413003/125634285-25789882-7585-4892-927b-90ac38436cc3.png)

---
# Ссылки
User Story #15

[2021-07-02 10:28] YuriSilenok opened #28 "UX для страницы "Загрузить решение""
**UX для страницы "Загрузить решение"**

Подробнее в [**Figma**](https://www.figma.com/file/jo7JCWO6fNQ85TyZxemGlN/Untitled?node-id=15%3A10).

![2021-07-15 (4)](https://user-images.githubusercontent.com/81413003/125771466-54af4429-4f66-49ba-9977-ef409ef14b01.png)

---
# Ссылки
User Story #16

[2021-07-02 10:29] YuriSilenok opened #29 "UX для страницы "Мои дисциплины""
### UX для страницы "Мои дисциплины"
Подробнее в [**Figma**](https://www.figma.com/file/jo7JCWO6fNQ85TyZxemGlN/Untitled?node-id=15%3A10).

![2021-07-15 (2)](https://user-images.githubusercontent.com/81413003/125770219-9ad6aee5-449d-405f-8552-08bc3564a75f.png)

---
# Ссылки
User Story #7

[2021-07-02 10:31] YuriSilenok opened #30 "UX для страницы "Журнал""
---
# Ссылки
User Story #11 #12 #14

[2021-07-02 10:32] YuriSilenok opened #31 "UX для страницы "Список тем""
### UX для страницы "Список тем"

Подробнее в [Figma](https://www.figma.com/file/jo7JCWO6fNQ85TyZxemGlN/Untitled?node-id=15%3A10).

![2021-07-15](https://user-images.githubusercontent.com/81413003/125767669-61b73d5b-1ffb-4cf2-a168-8834a9452e27.png)

---
# Ссылки
User Story #8

[2021-07-02 10:35] YuriSilenok opened #32 "UX для страницы "Список заданий""
### UX для страницы "Список заданий"

Подробнее в [Figma](https://www.figma.com/file/jo7JCWO6fNQ85TyZxemGlN/Untitled?node-id=15%3A10).

![2021-07-14 (1)](https://user-images.githubusercontent.com/81413003/125630956-343e62af-6928-46bd-b551-309a84267e12.png)

---
# Ссылки
User Story #9

[2021-07-02 10:36] YuriSilenok opened #33 "UX для страницы "Список требований""
### UX для страницы "Список требований"

Подробнее в [Figma](https://www.figma.com/file/jo7JCWO6fNQ85TyZxemGlN/Untitled?node-id=15%3A10).

![2021-07-14 (4)](https://user-images.githubusercontent.com/81413003/125631726-76047e53-1e03-43fe-a8c9-f33c7fa39dd8.png)

---
# Ссылки
User Story #10

[2021-07-02 10:55] YuriSilenok opened #34 "Просмотр списка "Ожидает проверки""
я как студент/преподаватель хочу иметь возможность просматривать список решений, которые нужно проверить, для того чтобы набрать баллы по заданию/не искать решения работы

Критерии приемки:
- Список отображает атрибуты: Дисциплина, Тема, Название задания

| Дисциплина | Тема | Название задачи |
| -------- | ------ | ------ |
| ТРПО | Тема №1 | [Какая-то задача №1](https://github.com/YuriSilenok/se

[2021-07-02 14:00] Nastasitze commented on #23
**Version 1**

![Страницы-Authorization  US-2  #6](https://user-images.githubusercontent.com/81413003/124285852-0526d200-db57-11eb-8fc6-24a58e565fcb.png)

[2021-07-02 14:02] YuriSilenok commented on #23
В описание задачи

[2021-07-02 15:45] YuriSilenok commented on #6
больше конкретики

[2021-07-05 14:09] YuriSilenok commented on #12
функционал переехал в #5

[2021-07-05 14:09] #12 closed

[2021-07-05 14:16] IvanUH opened #35 "[LF] Не работает ограничение максимального размера файла"
1. Войти в систему как студент.
2. Открыть страницу для проверки работы
Ожидаемый результат: Отображается ссылка "скачать" для архива с решением студента
Фактический результат: Ссылка не отображается

[2021-07-05 14:32] IvanUH commented on #35
Сценарий:

1. Войти в систему как студент.
2. Открыть страницу для загрузки работы.
Ожидаемый результат: При загрузке файла размером более 20МБ появляется ошибка о превышении размера и файл не загружается.
Фактический результат: Ошибки нет. Файл загружается.

![1121](https://user-images.githubusercontent.com/86595625/124486874-b4adaf80-ddb6-11eb-82ff-44cbfccdbed0.png)
![1111](https://user-images.g

[2021-07-05 15:14] YuriSilenok commented on #35
Файл размером в 70 мехобайт не проверяет границу в 20 мегобайт. В Вашем случае граница может быть в пределапх от 20 до 70 мегабайт. это неприемлемый разброс данных. Пождалуйста, используйте файл размером 20,1Мб

[2021-07-05 15:14] YuriSilenok commented on #35
Важность определяет не тестировщик

[2021-07-06 09:06] IvanUH commented on #35
Согласен с вами, действительно, правильнее использовать файл размером 20.1 МБ для проверки границы загрузки файлов.
При повторном тестировании дефект сохранился и файл загружается. Прикрепляю сценарий:

1. Войти в систему как студент.
2. Открыть страницу для загрузки работы.

**Ожидаемый результат**: При загрузке файла размером более 20МБ появляется ошибка превышения размера и файл не загружается.

[2021-07-06 10:56] YuriSilenok opened #36 "Дизайн страницы "Регистрация пользователя""
# Исправленный безальтернативный вариант регистрации
![image](https://user-images.githubusercontent.com/83533847/125486366-ef2a0941-4ec6-418c-872a-a8e43ac14765.png)

# Ссылки
План #3
User Story #5
Макет #24

---
 # Срок
 07.07.2021

[2021-07-06 11:08] YuriSilenok opened #37 "Дизайн страницы "Авторизация пользователя""
# Победивший вариант UI
![image](https://user-images.githubusercontent.com/83533847/125028430-ad292780-e090-11eb-89b6-cae70ab7c690.png)

# Варианты UI
![image](https://user-images.githubusercontent.com/83533847/124901514-c1b2e480-dfea-11eb-90a5-a8f56aeae577.png)
![image](https://user-images.githubusercontent.com/83533847/124902280-751bd900-dfeb-11eb-9c6f-4ef45898234a.png)
![image](https://user-ima

[2021-07-06 11:09] YuriSilenok opened #38 "Верстка страницы "Регистрация пользователя""
# Полученная страница регистрации
![image](https://user-images.githubusercontent.com/83533847/125760252-3fefdc25-918f-4f63-ace3-c71f3acdbcaa.png)

# Ссылки
План #3
User Story #5
Макет #24
Дизайн #36

---
 # Срок

[2021-07-06 11:14] YuriSilenok opened #39 "BE страницы "Регистрация пользователя""
# Ссылки
План #3
User Story #5
Макет #24
Дизайн #36
Верстка #38

---
 # Срок

[2021-07-06 11:15] IvanUH opened #40 "[LF-6] При применении фильтра загрузки файлов всех форматов, система игнорирует требования"
Сценарий:

1. Войти в систему как студент.
2. Открыть страницу для загрузки работы.

**Ожидаемый результат :** При примененном фильтре система должна отказать в загрузке не ZIP файла.
**Фактический результат :** Файл загружен.

![окно](https://user-images.githubusercontent.com/86595625/124590653-10824200-de64-11eb-9499-2693343a0c06.png)
![форма](https://user-images.githubusercontent.com/86595625/1

[2021-07-06 11:32] Nastasitze commented on #24
Проверьте на адекватность макет @YuriSilenok  & @ValeriSavvva.
thank u for ur attention

[2021-07-06 11:33] Nastasitze commented on #23
Проверьте на адекватность макет @YuriSilenok  & @ValeriSavvva.
thank u for ur attention

[2021-07-07 08:39] IvanUH opened #41 "[TS]- Отсутствует часовой пояс для пользователя"
Сценарий:

1. Войти в систему как студент.
2. Открыть страницу для загрузки работы.
3. В разделе "Загрузить новое решение" загрузить файл с решением.

**Ожидаемый результат:** В разделе "История решений" время и дата должны соответствовать часовому поясу пользователя.
**Фактический результат:** Не учитывается часовой пояс пользователя.

![time](https://user-images.githubusercontent.com/86595625/12

[2021-07-07 08:44] YuriSilenok commented on #41
Что означает - в названии бага?

[2021-07-07 08:47] YuriSilenok commented on #41
в фактическом результате нужно написать "Время отображается в часовом поясе UTC", это несет больше информации. А то, что часовой пояс не учитывается, понятно из названия.

[2021-07-07 16:51] YuriSilenok commented on #24
Воу, кажется клммент не сработал, давай без проверки не будем закрывать

[2021-07-07 16:55] YuriSilenok commented on #23
Ни кто не проверил

[2021-07-07 17:04] Nastasitze commented on #23
проверка @Nastasitze

[2021-07-07 17:09] Nastasitze commented on #24
Требует проверки UX для страницы "Авторизация пользователя".
@ValeriSavvva & @YuriSilenok , проверьте, пожалуйста, на содержание страницы.

[2021-07-07 17:12] Nastasitze commented on #25
Требует проверки UX для страницы "Нужно проверить".
@ValeriSavvva & @YuriSilenok , проверьте, пожалуйста, на содержание страницы.

[2021-07-07 17:14] #6 closed

[2021-07-07 19:35] Nastasitze opened #42 "Проверить UX для страницы "Авторизация пользователя""
Проверить прототип страницы ["Авторизация пользователя"](https://github.com/YuriSilenok/self-checking/issues/23).

[2021-07-07 19:47] Nastasitze opened #43 "Проверить UX для страницы "Регистрация пользователя""
Проверить прототип страницы ["Регистрация пользователя"](https://github.com/YuriSilenok/self-checking/issues/24).

[2021-07-07 19:50] Nastasitze opened #44 "Проверить UX для страницы "Нужно проверить""
Проверить прототип страницы[ "Нужно проверить"](https://github.com/YuriSilenok/self-checking/issues/25).

[2021-07-08 08:47] YuriSilenok commented on #44
Нам не нужны задачи на проверку UX, для того что бы запросить проверку, нужно в задаче на разработку UX написать комментарий что требуется проверка и назначиь ответсвенных за этой

[2021-07-08 08:47] #44 closed

[2021-07-08 08:48] YuriSilenok commented on #43
https://github.com/YuriSilenok/self-checking/issues/44#issuecomment-876255255

[2021-07-08 08:48] #43 closed

[2021-07-08 08:49] YuriSilenok commented on #42
https://github.com/YuriSilenok/self-checking/issues/44#issuecomment-876255255

[2021-07-08 08:49] #42 closed

[2021-07-08 08:53] YuriSilenok commented on #40
Нужно реализовать проверку на фронте и бекенде

[2021-07-08 08:55] YuriSilenok commented on #35
нужно огранизовать проверку на фронте и бекенде

[2021-07-08 08:57] YuriSilenok commented on #21
Мы решили что у нас будет футер?

[2021-07-08 08:59] YuriSilenok commented on #21
Это какое-то странное требование. Это самой собой разумеещеся и по другому быть не может, зачем это здесь писать?

[2021-07-08 09:12] YuriSilenok commented on #24
- в первой версии ПО вы договорились что регистрация будет только для студентов, нам нужны эти радиобатоны сейчас?
- разделив ФИО и прочее на блоки у которых нет заголовков, мы что-то этим обозначаем?

[2021-07-08 09:15] YuriSilenok commented on #23
я так же не понимаю, зачем нам контейнер вверху страницы. Изходя из чего он там появился, есть какие-то требования которые побудили его там создать?

[2021-07-08 09:16] ValeriSavvva commented on #24
@YuriSilenok
- мы хотели сделать два батона студент и преподаватель

- абсолютно ничего не обозначает

[2021-07-08 09:17] YuriSilenok commented on #25
мне кажется что контейнер вверху, это пустая трата места, у нас нет даже идей о том, что мы там будем отображать, тем более в первой версии

[2021-07-08 09:22] ValeriSavvva commented on #23
@YuriSilenok, Настя поясняла свои уже обьясняла это тем, что она вполне не может представитть как будет выглядить сама регистрация с дизайном и изначально наш UX предполагал не само расположение объектов как главную цель, а скорее наличие конкретных нужных частей макета, которые 100% должны существовать, что бы мне в ходе UI разработке можно было не только менять формы и цвета, но и расположение е

[2021-07-08 09:28] ValeriSavvva commented on #23
@YuriSilenok а кстати да, там внизу подписано что контент плэйс из себя представляет "Content place - располагаются логотип или иные элементы дизайна" P.S. пояснительная бригада

[2021-07-08 09:42] ValeriSavvva commented on #23
Все хорошо

[2021-07-08 09:51] YuriSilenok commented on #24
это был предпоследний раз когда мы созванивались. @Nastasitze отразите это в User Story

[2021-07-08 09:52] YuriSilenok commented on #24
а почему вы отвечаете, вы делали этот UX?

[2021-07-08 10:00] YuriSilenok commented on #22
@ValeriSavvva
Пожалуйста, представь требования к UI, начинает напрягать смотеть на страницы которые не соответсвуют стилю СДО

[2021-07-08 10:02] YuriSilenok commented on #21
@Nastasitze
Пожалуйста, оформи требования в файле documentation/UX.md

[2021-07-08 10:12] YuriSilenok commented on #23
@ValeriSavvva у тебя есть иде, какие элементы дизайна ты поместишь на страница авторизации?

[2021-07-08 13:36] YuriSilenok commented on #23
видимо я жду новый UX

[2021-07-08 13:39] YuriSilenok commented on #25
Жду новую версию UX

[2021-07-08 14:56] Nastasitze commented on #23
@ValeriSavvva  & @YuriSilenok , посмотрите такой вариант.

[2021-07-08 14:57] Nastasitze commented on #24
@ValeriSavvva & @YuriSilenok , посмотрите такой вариант. Фио могу разделить на отдельные строки с textboxes.

[2021-07-08 15:02] YuriSilenok commented on #24
Почему заголовок "Регистрация" в отдельном контейнере, а у авторизации не так?

[2021-07-08 15:10] Nastasitze commented on #23
@ValeriSavvva & @YuriSilenok , посмотрите такой вариант. Подправила прототип: добавила контейнер для названия, чтобы структура соответствовала Регистрации. @ValeriSavvva, нужен тебе этот контейнер или заголовок будет помёщен в общий контейнер ( Body )?

[2021-07-08 15:12] YuriSilenok commented on #23
мне норм

[2021-07-08 15:13] YuriSilenok commented on #24
мне норм

[2021-07-08 15:15] Nastasitze commented on #25
@ValeriSavvva & @YuriSilenok , посмотрите такой вариант.

[2021-07-08 15:23] Nastasitze commented on #29
@ValeriSavvva & @YuriSilenok , посмотрите такой вариант.

[2021-07-08 18:05] Nastasitze commented on #27
@ValeriSavvva & @YuriSilenok , посмотрите такой вариант.

[2021-07-09 05:22] ValeriSavvva commented on #24
Мы договаривались что не будет ФИО и оставим батоны, не рассматривая случая студент-препод.

[2021-07-09 05:29] ValeriSavvva commented on #24
А так все верно

[2021-07-09 06:32] Nastasitze commented on #24
UX страницы "Регистрация пользователя" @ValeriSavvva & @YuriSilenok , посмотрите такой вариант.  Исключала поле ввода ФИО, добавила radio-button для студента.

[2021-07-09 08:09] Nastasitze commented on #28
UX страницы "Загрузить решение" @ValeriSavvva & @YuriSilenok , посмотрите такой вариант. Исключала поле ввода ФИО, добавила radio-button для студента.

[2021-07-09 10:47] Nastasitze commented on #31
UX для страницы "Список тем" @ValeriSavvva & @YuriSilenok , посмотрите такой вариант.

[2021-07-09 10:51] Nastasitze commented on #33
UX для страницы "Список требований" @ValeriSavvva & @YuriSilenok , посмотрите такой вариант.

[2021-07-09 10:54] Nastasitze commented on #32
UX для страницы "Список заданий" @ValeriSavvva & @YuriSilenok , посмотрите такой вариант.

[2021-07-09 13:11] YuriSilenok commented on #25
А что означает номер в этой таблице и зачем он тому, кто будет проверять эту работу?

[2021-07-09 13:12] YuriSilenok commented on #29
что означает номер и зачем он преподавателю?

[2021-07-09 13:14] YuriSilenok commented on #24
Мы договорились не отображать фио в хэдере, как преподаватель студентов то будет добавлять, как журнал просматривать, это жутко неудобно будет

[2021-07-09 13:15] YuriSilenok commented on #24
зачем нам батон оставлять, тем более из одного варианта?

[2021-07-09 13:15] YuriSilenok commented on #27
тот же вопрос, что значит номер и зачем он студенту?

[2021-07-09 13:17] YuriSilenok commented on #28
да вроде норм. конечно требований может быть много по одной ЛР, но там посмотрим.

[2021-07-09 13:17] YuriSilenok commented on #33
зачем здесь номер в таблице?

[2021-07-09 13:18] YuriSilenok commented on #31
а где будет кнопка добавления студента к дисциплине, а еще нужно обозначить что за выпадающие списки

[2021-07-09 13:21] YuriSilenok commented on #32
зачем преподавателю этот номер в таблице?

[2021-07-09 13:40] Nastasitze commented on #28
В зависимости от кол-ва требований контейнер будет увеличиваться. @ValeriSavvva, do like this version.

[2021-07-09 13:41] YuriSilenok commented on #28
да, конечно будет, вопрос как это будет выглядеть когда их будет 20-30 штук

[2021-07-09 16:53] Nastasitze commented on #25
UX для страницы "Нужно проверить".
@ValeriSavvva & @YuriSilenok ,посмотрите такой вариант. Убрала нумерацию для строк.

[2021-07-09 17:18] Nastasitze commented on #29
UX для страницы "Мои дисциплины" @ValeriSavvva & @YuriSilenok , посмотрите такой вариант. Убрала нумерацию.

[2021-07-10 13:14] YuriSilenok commented on #25
Почему в таблице у задачи есть слово название, а у темы и дисциплины нет?

[2021-07-10 13:16] YuriSilenok commented on #25
Исходя из каких требований появился пункт меню "журнал" ?

[2021-07-10 13:19] YuriSilenok commented on #29
Мне кажется нам не хватает отдельной задачи на хедер и меню. Мне помнится вы хотели что бы хедер был, а под ним меню. Или я ошибаюсь?

[2021-07-10 13:20] YuriSilenok commented on #29
Сейчас на журнал ссылка в хэдере и в таблице.

[2021-07-12 06:43] Nastasitze commented on #33
UX для страницы "Список требований" @ValeriSavvva & @YuriSilenok , посмотрите такой вариант. убрала нумерацию требований.

[2021-07-12 06:47] Nastasitze commented on #32
UX для страницы "Список требований" @ValeriSavvva & @YuriSilenok , посмотрите такой вариант. убрала нумерацию заданий.

[2021-07-12 06:51] Nastasitze commented on #28
UX для страницы "Список требований" @ValeriSavvva & @YuriSilenok , посмотрите такой вариант. Изменила композицию компонентов.

[2021-07-12 06:55] Nastasitze commented on #31
UX для страницы "Список требований" @ValeriSavvva & @YuriSilenok , посмотрите такой вариант. Добавила кнопку для добавления студента. Добавила обозначения "Группа", "ФИО" при добавлении студента.

[2021-07-12 06:57] Nastasitze commented on #27
UX для страницы "Мои задания" @ValeriSavvva & @YuriSilenok , посмотрите такой вариант. Убрала нумерацию требований.

[2021-07-13 09:59] Nastasitze commented on #25
В требованиях это не прописано, но такая навигация упрощает использование сайта, так как в любой момент пользователь может перейти в любую вкладку.

[2021-07-13 15:27] YuriSilenok commented on #33
Требование-требования

[2021-07-13 15:29] Nastasitze opened #45 "Заголовок и меню"
# User Story

Я как студент/преподаватель хочу иметь возможность перемещаться по персональным разделам сайта, для того чтобы не запоминать адреса сайта.

Критерии приемки:
- Для преподавателя отображаются следующие пункты меню
  - Мои дисциплины
  - Ожидает проверки
- Для студента отображаются следующие пункты меню:
  - Мои задания
  - Ожидает проверки
- Меню отображается в заголовке страницы
- Ме

[2021-07-13 15:31] YuriSilenok commented on #32
мне норм

[2021-07-13 15:33] YuriSilenok commented on #28
название страницы

[2021-07-13 15:41] YuriSilenok commented on #28
студент сначала выбирает работу, а через страницу с работой загружает решение

[2021-07-13 15:48] YuriSilenok commented on #31
+-добавить

[2021-07-13 15:50] YuriSilenok commented on #31
ткмы

[2021-07-13 15:52] YuriSilenok commented on #27
убрать сортировку и добавление

[2021-07-13 15:59] YuriSilenok commented on #26
инструкция в большое поле

[2021-07-13 16:02] YuriSilenok commented on #29
плюсы на добавить

[2021-07-13 16:03] YuriSilenok commented on #29
название страницы

[2021-07-13 16:05] YuriSilenok commented on #24
мне норм

[2021-07-13 16:06] ValeriSavvva commented on #24
Говно, переделывай!

[2021-07-13 16:13] Nastasitze commented on #36
Я согласна со всем

[2021-07-13 16:14] YuriSilenok commented on #36
все норм

[2021-07-14 13:26] Nastasitze commented on #31
@ValeriSavvva & @YuriSilenok , посмотрите такой вариант.

[2021-07-14 13:27] Nastasitze commented on #24
Бро
это переделанный варик

[2021-07-15 08:49] #36 closed

[2021-07-15 08:51] ValeriSavvva opened #46 "Дизайн страницы "Нужно проверить" для преподавателя"

[2021-07-15 09:01] Nastasitze commented on #38
nice

[2021-07-15 09:01] Nastasitze commented on #38
very nice

[2021-07-15 09:22] ValeriSavvva commented on #33
красиво

[2021-07-15 09:23] ValeriSavvva commented on #32
красиво

[2021-07-15 09:23] ValeriSavvva commented on #31
красиво

[2021-07-15 09:24] ValeriSavvva commented on #29
Красиво

[2021-07-15 09:33] ValeriSavvva commented on #28
выпадающий список у названия делит

[2021-07-15 09:33] Nastasitze commented on #23
Утверждается ли данный вариант как итоговый ? @YuriSilenok  @ValeriSavvva

[2021-07-15 09:33] ValeriSavvva commented on #27
красиво

[2021-07-15 09:35] ValeriSavvva commented on #25
красиво

[2021-07-15 09:35] ValeriSavvva commented on #24
красотаааааааааааа

[2021-07-15 09:36] Nastasitze commented on #26
@YuriSilenok @ValeriSavvva , look at this variant.

[2021-07-15 09:37] ValeriSavvva commented on #33
Настя, все по красоте

[2021-07-15 09:37] Nastasitze commented on #33
@YuriSilenok look at he this variant.

[2021-07-15 09:38] Nastasitze commented on #29
@YuriSilenok look at this variant.

[2021-07-15 09:40] #24 closed

[2021-07-15 09:40] Nastasitze commented on #32
@YuriSilenok look at this variant.

[2021-07-15 09:42] #25 closed

[2021-07-15 09:44] Nastasitze commented on #27
@YuriSilenok look at this variant.

[2021-07-15 09:47] Nastasitze commented on #31
@YuriSilenok @ValeriSavvva  , look at this variant.

[2021-07-15 09:51] ValeriSavvva commented on #23
кроасиво

[2021-07-15 09:57] ValeriSavvva commented on #26
найс

[2021-07-15 09:58] ValeriSavvva commented on #33
замурчательно

[2021-07-15 09:58] ValeriSavvva commented on #32
мяукательно

[2021-07-15 09:58] ValeriSavvva commented on #27
мурчашно

[2021-07-15 09:59] ValeriSavvva commented on #31
мурчативно

[2021-07-15 09:59] ValeriSavvva commented on #29
мяучашно

[2021-07-15 10:03] Nastasitze commented on #29
@YuriSilenok @ValeriSavvva  look at this variant.

[2021-07-15 10:05] ValeriSavvva commented on #29
замурчашно

[2021-07-15 10:13] Nastasitze commented on #28
@YuriSilenok  @ValeriSavvva  look at he this variant.

[2021-07-15 12:15] YuriSilenok opened #47 "Авторизация пользователя"
# User Story

Я как пользователь хочу иметь возможность авторизоваться, чтобы хранимые данные в системе не попали в общий доступ

**Критерии приемки:**
- Для авторизации требуется ввести электронный адрес и пароль;

- После **удачной авторизации** автоматически переходит на страницу со списком работ, которые нужно проверить;
- Если указанный **электронный адрес отсутствует в БД**, то после попытки

[2021-07-15 16:02] YuriSilenok commented on #23
меня все устраивает
эта задача стала частью задачи #57

[2021-07-15 16:02] #23 closed

[2021-07-15 16:04] YuriSilenok commented on #37
эта задача стала частью #47

[2021-07-15 16:04] #37 closed

[2021-07-15 16:07] YuriSilenok opened #48 "Регистрация пользователя"
# User Story

Я как студент хочу иметь возможность зарегистрироваться на сайте, что бы хранить информацию о том, какие работы я выполнил.
Я как преподаватель хочу иметь возможность зарегистрироваться на сайте, что бы создавать авторские курсы для студентов.

**Критерии приемки:**
- при регистрации собирается следующая информация:
  - фамилия
  - имя
  - отчество
  - электронный адрес
  - пароль

[2021-07-15 16:08] YuriSilenok commented on #5
задача перенесена в #48

[2021-07-15 16:08] #5 closed

[2021-07-15 16:09] #39 closed

[2021-07-15 16:09] YuriSilenok commented on #39
задача перенесена в #48

[2021-07-15 16:12] YuriSilenok commented on #38
перенесено в #48

[2021-07-15 16:12] #38 closed

[2021-07-15 16:17] YuriSilenok commented on #7
Перенесено в #49

[2021-07-15 16:17] #7 closed

[2021-07-15 16:18] YuriSilenok opened #49 "Список дисциплин"
# User Story
Я как преподаватель хочу иметь возможность просматривать список дисциплин, чтобы знать какие дисциплины уже мной созданы, а так же иметь доступ к функциям редактирования и добавления дисциплины

**Критерии приемки:**
- Список дисциплин отображается в виде таблицы с полями:
  - Название дисциплины
- Список дисциплин состоит только из тех дисциплин, которые я сам создал
- Рядом со списк

[2021-07-15 16:20] YuriSilenok commented on #29
перенесено в #49

[2021-07-15 16:20] #29 closed

[2021-07-15 16:22] YuriSilenok opened #50 "Список тем"
# User Story
Я как преподаватель хочу иметь возможность просматривать список тем дисциплин, для того чтобы управлять своими курсами.

Критерии приемки:
- Список тем отображается в виде таблицы с полями:
  - Название
- Список тем состоит только из тех тем, которые относятся к выбранной дисциплине
- Рядом со списком тем есть элемент управления, позволяющий открыть страницу по добавлению темы
- Когда

[2021-07-15 16:23] YuriSilenok commented on #8
перенесено в #50

[2021-07-15 16:23] #8 closed

[2021-07-15 16:24] YuriSilenok commented on #31
перенесено в #50

[2021-07-15 16:24] #31 closed

[2021-07-15 16:26] YuriSilenok opened #51 "Список заданий"
# User Story
Я как преподаватель хочу иметь возможность просматривать список заданий, для того чтобы управлять своими курсами.

Критерии приемки:
- Список заданий отображается в виде таблицы с полями:
  - Название
  - Количество проверок
- Список задач состоит только из тех задач, которые относятся к выбранной теме
- Рядом со списком заданий есть элемент управления, позволяющий открыть страницу по

[2021-07-15 16:27] YuriSilenok commented on #9
Перенесено в #51

[2021-07-15 16:27] #9 closed

[2021-07-15 16:28] YuriSilenok commented on #32
перенесено в #51

[2021-07-15 16:28] #32 closed

[2021-07-15 16:44] YuriSilenok opened #52 "Список требований"
Я как преподаватель хочу иметь возможность просматривать список требований, для того чтобы управлять своими курсами.

Критерии приемки:
- Список требований отображается в виде списка требований
- Список требований состоит только из тех требований, которые относятся у задаче
- Рядом со списком требований есть элемент управления, позволяющий открыть страницу по добавлению требования
- Когда мы уходи

[2021-07-15 16:45] YuriSilenok commented on #10
Перенесено в #52

[2021-07-15 16:45] #10 closed

[2021-07-15 16:46] YuriSilenok commented on #33
перенесено #52

[2021-07-15 16:46] #33 closed

[2021-07-15 16:50] #26 closed

[2021-07-15 16:51] YuriSilenok commented on #26
перенесено в #13

[2021-07-15 16:54] #30 closed

[2021-07-15 17:03] YuriSilenok commented on #25
перенесено в #34

[2021-07-15 17:04] YuriSilenok commented on #46
перенесено в #34

[2021-07-15 17:04] #46 closed, assigned to ValeriSavvva

[2021-07-15 17:09] YuriSilenok commented on #11
Оставшиеся этапы будут реализованы в рамках #50

[2021-07-15 17:09] #11 closed

[2021-07-15 17:13] YuriSilenok commented on #27
перенесено #15

[2021-07-15 17:13] #27 closed

[2021-07-15 17:17] YuriSilenok commented on #28
Перенесено в #16

[2021-07-15 17:18] #28 closed

[2021-07-15 17:38] YuriSilenok commented on #21
Требования оформлены в документе?

[2021-07-15 17:39] YuriSilenok commented on #22
Требования нужно оформить в виде файла md

[2021-07-15 17:48] YuriSilenok commented on #48
я создам для этой задачи ветку и удалю именную ветку

[2021-07-15 18:07] #47 closed, assigned to YuriSilenok, Nastasitze

[2021-07-16 13:03] #48 closed, assigned to YuriSilenok, Nastasitze, ValeriSavvva

[2021-07-16 13:17] YuriSilenok commented on #45
Обратите внимание, я добавил User Story, проверьте его

[2021-07-17 12:42] Nastasitze commented on #45
@YuriSilenok , в user story будем прописывать про элемент "Приветствие", который присутствует в UX (example - "Добро пожаловать, студент( преподаватель )") ? А к остальной части вопросов нет.

[2021-07-19 06:41] YuriSilenok commented on #45
Вопрос хороший, но @ValeriSavvva была против размещения информации там, @ValeriSavvva поясните, где вы ожидаете увидеть приветствие?

[2021-07-19 06:42] YuriSilenok commented on #45
переместил задачу в User Story, так как у нас остались по ней вопросы.

[2021-07-20 08:05] Nastasitze commented on #34
@YuriSilenok & @ValeriSavvva  please check new US , UX

[2021-07-20 08:08] YuriSilenok commented on #34
В ширина столбцов будет всегда одинаковая?

[2021-07-20 08:11] Nastasitze commented on #34
Да, просто я тупанула, когда расширяла контейнер с Body

[2021-07-20 11:01] Nastasitze commented on #49
@YuriSilenok & @ValeriSavvva please check new UX.

[2021-07-21 06:51] YuriSilenok commented on #34
мы решили что у страниц будет отображается название страницы. Мы это зафиксировали в UX? Это UX не имеет название страницы.

[2021-07-21 06:51] YuriSilenok commented on #49
Название страницы

[2021-07-21 07:02] Nastasitze commented on #34
Я основывалась на результате голосования ![image](https://user-images.githubusercontent.com/81413003/126445817-5dba0f52-6437-4ef5-bcd9-de270572ff80.jpeg)

Или они не действительны? @ValeriSavvva @YuriSilenok

[2021-07-21 07:11] YuriSilenok commented on #34
Действительны, видимо я что-то перепутал.

[2021-07-21 15:37] Nastasitze commented on #50
@ValeriSavvva & @YuriSilenok , please check new UX.

[2021-07-22 07:07] ValeriSavvva commented on #49
Все так

[2021-07-22 07:08] ValeriSavvva commented on #34
Все так

[2021-07-22 07:12] ValeriSavvva commented on #50
Все хорошо

[2021-07-22 07:50] ValeriSavvva commented on #34
@Nastasitze @YuriSilenok  ожидаю замечаний

[2021-07-22 07:59] ValeriSavvva commented on #45
@YuriSilenok @Nastasitze ожидаю замечаний

[2021-07-22 08:58] Nastasitze commented on #34
@ValeriSavvva , Лер, может сделать ширину строк побольше или текст уменьшить, чтобы лучше читалось ? А так по остальному i dont have any questions

[2021-07-22 09:06] ValeriSavvva commented on #34
поменяла на 18 шрифт

[2021-07-22 09:33] Nastasitze commented on #51
@ValeriSavvva  & @YuriSilenok , please check new UX/

[2021-07-22 09:35] Nastasitze commented on #34
nice, i agree with everything

[2021-07-22 09:36] Nastasitze commented on #45
nice, I agree with everything

[2021-07-22 10:33] ValeriSavvva commented on #51
меня все устраивает

[2021-07-23 12:41] Nastasitze commented on #52
@ValeriSavvva  & @YuriSilenok , pleas check new UX

[2021-07-23 13:10] Nastasitze commented on #15
@ValeriSavvva  & @YuriSilenok , pleas check new UX

[2021-07-26 06:39] ValeriSavvva commented on #52
![image](https://user-images.githubusercontent.com/83533847/126944033-e0db68d5-c085-4839-999b-11a1241ed8fa.png)
Предлагаю сделать структуру такой

[2021-07-26 06:39] ValeriSavvva commented on #15
Все отлично

[2021-07-26 07:09] ValeriSavvva commented on #51
@YuriSilenok @Nastasitze

[2021-07-26 07:32] ValeriSavvva commented on #50
@YuriSilenok @Nastasitze

[2021-07-26 11:38] YuriSilenok commented on #52
Как определить для какого задания эти требования?

[2021-07-26 11:39] YuriSilenok commented on #15
пойдет

[2021-07-26 11:44] YuriSilenok commented on #51
Почему список заданий находжится в "Ожидает проверки"?

[2021-07-26 11:46] YuriSilenok commented on #51
Почему у нас два поля "Название задачи"?

[2021-07-26 14:47] Nastasitze commented on #50
@ValeriSavvva  so nice, i into this design 👍

[2021-07-26 14:58] Nastasitze commented on #51
@YuriSilenok & @ValeriSavvva  , please check new updates for UI

[2021-07-27 07:14] YuriSilenok commented on #50
@ValeriSavvva почему на твоих UI мы студенту назначаем задание, а не дисциплину? на UX не так.
@Nastasitze будь внимательней при проверке

[2021-07-27 07:16] YuriSilenok commented on #51
если мы уходим на список заданий, пункт меню мои дисциплины перестает быть выделенным?

[2021-07-27 07:19] Nastasitze commented on #51
Думаю , так проще показать , что это новая вкладка , которая не относится ни к странице "Ожидают проверок", ни к странице "Мои работы"

[2021-07-27 07:20] Nastasitze commented on #51
Единственное, что не очень удобно, так это количество страниц, которых нет в меню быстрого доступа

[2021-07-27 07:23] YuriSilenok commented on #45
Если преподаватель уходит со страницы "Мои дисциплины" на страницу "Список тем", должен ли пункт меню "Мои дисциплины" оставаться жирным? Ананлогичные вопросы к остальным страницам, в том числе у студента.

[2021-07-27 07:27] Nastasitze commented on #45
Это надо будет обсудить. Есть сомнения на этот счёт, но если отвечать быстро, то я бы не стала выделять пункт меню "Мои дисциплины" , когда пользователь на странице "Список тем".

[2021-07-27 07:29] YuriSilenok commented on #45
@ValeriSavvva твое мнение решающее, как скажешь, так и будет

[2021-07-27 07:29] Nastasitze commented on #45
Но, с другой стороны, логично выделить , так как одно страница подчинена другой

[2021-07-27 07:31] YuriSilenok commented on #49
В требованиях не указано, должно ли отображаться название страницы или нет

[2021-07-27 07:41] YuriSilenok commented on #51
мы не можем просто так перейти на список тем, так как нужен контекст, нужно знать к какой дисциплине отностяся эти темы

[2021-07-27 09:16] ValeriSavvva commented on #52
я имела ввиду что название задания останется, поменяется внешний вид добавления, нам же важно сохранить эквивалентное расположение кнопок в UI и UX

[2021-07-27 09:22] ValeriSavvva commented on #45
Я считаю, что выделение при уходе на страницу, отличную от контекста наших двух вкладок-закладок, надо снять.

[2021-07-27 09:24] YuriSilenok commented on #52
расположение элеметов по добавлению требования выглядит хорошо

[2021-07-27 09:25] YuriSilenok commented on #45
что ты называешь контекстом, потому что список тем находится в контексте дисциплины, а список дисциплин и есть наш пункт меню?

[2021-07-29 10:12] YuriSilenok commented on #45
Для этой задачи будет создал пулл реквест, что бы обозначить проблемы с кодом

[2021-07-29 15:12] ValeriSavvva opened #54 "Граница между названиями столбцов не отображается во всех таблицах."
Граница между названиями столбцов не отображается на следующих страницах:

- #49
- #50
- #51
- #52
- #34
- #15
- #16

**Фактический результат**
![image](https://user-images.githubusercontent.com/83533847/127516553-898ec401-eea3-4b6b-b244-cb02fa19b57f.png)

**Ожидаемый результат**
![image](https://user-images.githubusercontent.com/83533847/127516811-77b80304-3d10-409f-bef9-acd0722605bb.png)

[2021-07-29 15:36] #45 closed

[2021-07-30 13:12] Nastasitze commented on #13
@ValeriSavvva & @YuriSilenok, please check out this new UX

[2021-07-30 13:19] YuriSilenok commented on #13
а вы не перепутали страницы загрузки ренения и страницу проверки работы?

[2021-07-30 13:20] Nastasitze commented on #13
Перепутала, сейчас поправим

[2021-07-30 13:21] Nastasitze commented on #16
@ValeriSavvva & @YuriSilenok, please check out this new UX

[2021-07-30 13:25] YuriSilenok commented on #16
Почему на UX в истории решений третий столбец называется **проверки**, в US другое требование.

[2021-07-30 13:28] YuriSilenok commented on #16
у нас на это должны быть отдельные требования. @Nastasitze оформи их в требовнаиях к UX

[2021-07-30 13:29] YuriSilenok commented on #16
оформлять нужно через ветку issue-16, так как уже здесь я официальнос делал запрос на добавление это в документацию

[2021-07-30 13:31] YuriSilenok commented on #16
это требование к хэдеру, которое должно быть оформлено в UI, да @ValeriSavvva ?

[2021-07-30 13:49] Nastasitze commented on #16
То есть, я прописываю это требование в issue-16, то есть тут, в разделе UX
А требование по поводу header будет прописано в разделе UI
?

[2021-08-03 07:29] ValeriSavvva opened #56 "Не выделенная вкладка "Ожидает проверки" на домашней странице"
#### Сценарий:

- авторизоваться
- изменить URL убрав часть пути `/solving`

**Ожидаемый рузельтат**
Произойдет редирект на страницу `/solving`
![image](https://user-images.githubusercontent.com/83533847/127975076-45739f67-aaf0-4ba0-9d7a-a8f4fdb44506.png)
**Фактически результат**
![image](https://user-images.githubusercontent.com/83533847/127975184-9bb53881-4b6a-4299-8353-26dd6cec008f.png)

---
##

[2021-08-06 06:33] ValeriSavvva commented on #15
@YuriSilenok @Nastasitze

[2021-08-06 10:28] ValeriSavvva commented on #54
Данного бага не возникает в процессе верстки

[2021-08-06 10:28] #54 closed, assigned to ValeriSavvva

[2021-08-08 19:54] Nastasitze commented on #15
All ok

[2021-08-09 11:36] YuriSilenok commented on #54
баг поднят ошибочно

[2021-08-09 11:40] YuriSilenok commented on #15
Немного напрягает выравнивание в таблице по центру, так как смотрится это красиво только когда длинна строк в ячейках одинаковое. Если это только у меня одного так, то посмотрим что получится по итогу, когда задач будет много. А так норм.

[2021-08-10 10:32] #56 closed, assigned to YuriSilenok

[2021-08-10 12:11] ValeriSavvva commented on #52
@YuriSilenok  @Nastasitze

[2021-08-10 13:04] Nastasitze commented on #52
approved

[2021-08-10 13:36] Nastasitze commented on #17
@ValeriSavvva  & @ValeriSavvva , please check out this UX

[2021-08-10 13:48] ValeriSavvva commented on #17
норм

[2021-08-11 13:18] YuriSilenok commented on #49
не нужно бросать мне задачу, если она не принята в пулл реквесте

[2021-08-11 13:31] YuriSilenok commented on #52
Где название страницы?

[2021-08-11 13:34] #34 closed

[2021-08-11 13:41] YuriSilenok commented on #17
отлично

[2021-08-17 12:36] Nastasitze commented on #16
@YuriSilenok  & @ValeriSavvva, please check out new UI/ Есть один вопрос на размышление:  на 1 картинке UI был добавлен элемент - textbox ("Пока эта задача ..."), который отсутствует на первоначальном UX. Вопрос: оставляем этот блок и правим UX, или убираем этот новый элемент и правим UI?

[2021-08-18 12:29] Nastasitze commented on #3
Убрала из списка задачу #14 : она не входит список задач 1-ой version

[2021-08-18 12:52] Nastasitze commented on #14
@YuriSilenok  & @ValeriSavvva / Данная задача ( "Просмотр журнала" ) переносится в [План версии v*.2](https://github.com/YuriSilenok/self-checking/issues/20)

[2021-08-19 09:04] Nastasitze opened #61 "Документация "Жизненный цикл задачи""
План:
1.  Какие типы задач бывают?
2. Что такое жизненный цикл задачи? Какие основные этапы в себя включает?
3. Как устанавливаются правила перехода задачи из одного состояния в другое?
4. Как осуществить переход задачи в другую версию?
5. Как закрыть задачу?

[2021-08-20 15:33] YuriSilenok commented on #16
Я думаю стоит оставить предупреждение об отсутствии требований к задаче.
P.S. textbox - поле ввода, label - какая-то надпись. так что это label

[2021-08-20 15:36] YuriSilenok commented on #14
надо в список плана добавить эту задачу

[2021-08-20 15:45] YuriSilenok commented on #61
выглядит вроде ничего, думаю можно делать

[2021-08-24 23:21] ValeriSavvva commented on #15
Верстку можно будет проверять только после мержа ветки 49, так как там все нужные стили.

[2021-08-31 08:26] YuriSilenok opened #62 "Презентация версии 0.1"
- Презентация должна быть выполнена в гкгл-презентациях
- Показать чем это выгодно преподавателю
- Показать как это можно использовать
- Как это связано с СДО
- По возможности зафиксировать отзыв

[2021-09-01 16:02] YuriSilenok commented on #49
Реализовано в рамках #63

[2021-09-02 14:50] ValeriSavvva opened #65 "Студента невозможно назначить на 2 дисциплину"
#### Сценарий:

- зайти как преподаватель.
- зайти на вкладку мои дисциплины.
- перейти по ссылке на одну из дисциплин, если они существуют, если нет, то создать.
- выбрать из выпадающего списка "Студент" некого студента и кликнуть по кнопке "записать на дисциплину".
- зайти на вкладку "Мои дисциплины" и перейти по ссылке на любую другую дисциплину.
- кликнуть" по выпадающему списку Студунт".

**О

[2021-09-02 14:57] #15 closed

[2021-09-02 17:41] ValeriSavvva commented on #52
Разве название задачи не является названием страницы?

[2021-09-03 13:09] ValeriSavvva commented on #52
@YuriSilenok  @Nastasitze Я считаю что здесь вполне из контекста понятно название страницы из названия задачи

[2021-09-03 13:51] YuriSilenok commented on #52
Думаю можно так оставить, название задачи и будет названием страницы

[2021-09-07 14:20] Nastasitze commented on #51
@ValeriSavvva  & @YuriSilenok  , была добавлена формулировка сообщения при отсутствии задач.

[2021-09-07 14:21] Nastasitze commented on #52
@ValeriSavvva  & @YuriSilenok  , была добавлена формулировка сообщения при отсутствии требований.

[2021-09-07 14:29] Nastasitze commented on #16
@ValeriSavvva  & @YuriSilenok  , изменён UI (ситуация, когда требования ещё не созданы) в соответствии с UX.

[2021-09-07 14:55] ValeriSavvva commented on #17
@YuriSilenok  @Nastasitze

[2021-09-07 15:07] Nastasitze commented on #50
@ValeriSavvva & @YuriSilenok , была добавлена формулировка сообщения при отсутствии тем.

[2021-09-08 10:21] ValeriSavvva commented on #16
@YuriSilenok  напомните какую мне кнопку оставлять декоративную или открывающую проводник?
![image](https://user-images.githubusercontent.com/83533847/132492466-f80a2ff5-6ef2-4b07-a28c-59bf95b8a947.png)

[2021-09-14 18:15] YuriSilenok commented on #51
Мне норм

[2021-09-14 18:16] YuriSilenok commented on #52
Это сообщение отображается для преподавателя и думаю лучше использовать шаблон фразы как в #51

[2021-09-14 18:17] YuriSilenok commented on #17
Названия дочерних страниц у нас выравниваются по центру.

[2021-09-14 18:18] YuriSilenok commented on #50
Пойдет

[2021-09-14 18:36] YuriSilenok commented on #16
Нужно оставить ту, в которой возможно реализовать UI

[2021-09-15 10:27] Nastasitze commented on #17
@ValeriSavvva . all ok

[2021-09-30 08:18] YuriSilenok opened #71 "Шапка центарльной панели меньше чем все остальное на странице загрузить решение"
Сценарий воспроизведения:
1. Авторизуйтесь как студент
2. Откройте страницу для загрузки решения
Фактический результат: Ширина шапки меньше чем содержимое ниже
![image](https://user-images.githubusercontent.com/14871471/135414517-f43a2b85-6a07-4da1-a4c2-6a3f0c331b02.png)
Ожидаемый результат: Ширина шапки совыпадает с остальной частью ниже. см [UI](#16)

[2021-09-30 15:14] codefactor-io[bot] opened #73 "Use of insecure MD2, MD4, MD5, or SHA1 hash function."
[CodeFactor](https://www.codefactor.io/repository/github/yurisilenok/self-checking) found multiple issues last seen at b4dbccd9a5551152e4dae0780e790cb260c5cc84:

#### Use of insecure MD2, MD4, MD5, or SHA1 hash function.
- [ ]  [app.py:410](https://www.codefactor.io/repository/github/yurisilenok/self-checking/source/dev/app.py#L410)
- [ ]  [app.py:405](https://www.codefactor.io/repository/github/y

[2021-09-30 15:15] YuriSilenok opened #74 "Миграция с Flask на Django"

[2021-10-03 07:16] Nastasitze commented on #62
1/ [Link to google docs --> ](https://docs.google.com/presentation/d/1NcRVOGMT65Yll7N7Dm8vug1ULjxRRJWOHV6UIE4vQRU/edit?usp=sharing)

2/ [File to download (.pdf) ](https://github.com/YuriSilenok/self-checking/files/7272875/default.pdf)

3/  Reviews : 1) The essence of the system is poorly disclosed. One of the guests didn't understand how it's works/
2)  Slied 9 - terrible diagram (too much, bro, i

[2021-10-03 12:50] YuriSilenok commented on #62
Презентация будет доделываться?

[2021-10-03 13:16] Nastasitze commented on #62
@YuriSilenok , нет, так как лучше будет сделать для последующих версий новую презентацию

[2021-10-03 14:06] YuriSilenok commented on #62
Эта презентация для версии 0,1, это значит что для создания презентации на другие версии будут другие задачи. По этой презентации для версии 0.1 работы завершены?

[2021-10-03 14:15] Nastasitze commented on #62
@YuriSilenok, да , работы закончины

[2021-10-03 14:28] YuriSilenok commented on #62
Есть ли какие-то причины по которой эта задача не закрыта?

[2021-10-03 14:29] Nastasitze commented on #62
веской причины нет, просто руки не дошли
сейчас закрою

[2021-10-03 14:29] #62 closed, assigned to Nastasitze

[2021-10-05 17:52] Nastasitze commented on #14
@YuriSilenok && @ValeriSavvva  && @IlyaTheCreator , please check out this UX. best wishes

[2021-10-06 07:12] YuriSilenok commented on #14
А почему ты делала UX, если задача находится на User Story? User Story кто-то проверял?

[2021-10-15 08:19] #74 closed, assigned to nobody

[2021-10-15 08:20] YuriSilenok opened #76 "Добавить файл загрузки тестовых данных"
- файд test_data.yaml
- добавить описание как загружать

[2021-11-02 14:36] YuriSilenok commented on #76
@IlyaTheCreator я создал файлы для загрузки тестовых данных, как загружать, описано [здесь](https://github.com/YuriSilenok/self-checking/blob/dev/README.md)

[2021-11-02 14:37] #76 closed, assigned to YuriSilenok